.ToggleViewOnGrid {
  display: grid;
  grid-template-rows: 0fr;
  overflow: hidden;
  transition: grid-template-rows 1s;


  .expanderContent {
    min-height: 0;
    transition: visibility 1s;
    visibility: hidden;
  }
  &.expanded {
    grid-template-rows: 1fr;
  }
  &.expanded .expanderContent {
    visibility: visible;
  }
}

